---
layout: default
---

  <div class="loop">

    {% for post in site.posts %}

      <div class="post container">



        {% assign mates = site.mates | where:"title", post.mate %}
        {% for mate in mates %}
          by <span class="post-author"><a href="{{ mate.url | prepend: site.url }}">{{ mate.title }}</a></span>,
        {% endfor %}
        <span class="post-date">{{ post.date | date_to_string }}</span>

        <div class="post-title">

          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

        </div>

        {{ post.categories | jsonify }}

      </div>

    {% endfor %}

  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
