<article class="Card">
  <div class="Card__media">
    {% if page["header image"] contains "cdn.siroop.ch" %}
      {% assign headerImage = page["header image"] %}
    {% else %}
      {% assign headerImage = page["header image"] | prepend:site.baseurl %}
    {% endif %}
    <a href="{{ page.url | prepend: site.baseurl }}">
    <div class="ratio ratio--16x9 cover" style="background-image: url({{ headerImage }})">
    </div>
    </a>
  </div>
  <div class="Card__info">
    {% include card-meta.liquid %}
    <h1 class="headline"><a class="Card__title" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
  </div>
</article>
