<header class="page__header skew">
  <div class="container">
    <div class="nav-bar unskew">
      <a class="logotype" href="{{ site.baseurl }}/">
        Shopping <br> Mates
        {% comment %}
        {% include icons/logo.svg  %}
        <img class="site-logotype-img" src="{{ site.baseurl }}/assets/logo.png" alt="{{ site.name }} logo">
        {% endcomment %}
      </a>
      {% include page__nav.liquid context="/" %}
    </div>
  </div>
</header>
