<header class="page__header skew">
  <div class="container">
    <div class="nav-bar unskew">
      <a class="logotype" href="{{ site.baseurl }}/">
        <span class="shopping">shopping</span>
        <span class="mates">mates</span>
        <span class="shopping by-siroop">by siroop</span>
      </a>
      {% include page__nav.liquid context="/" %}
    </div>
  </div>
</header>
