<footer class="page__footer">
  <div class="container">
    <div class="grid-footer">
      <div class="body2">
        siroop AG <br>
        Konradstrasse 12 <br>
        8005 Zürich, Schweiz <br>
      </div>
      <div class="c-logo-brand">
        <a href="{{ site.trackingurl }}">
        <svg title="siroop logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1159.88 278.11" width="120px">
          <path fill="black" d="M40,107.45q0,6.34,7.68,9.93T86,129.63q26.94,7.2,36.64,18.29t9.71,28.37q0,18.44-16.07,33T69.81,223.82q-31.87,0-49.1-16A64.86,64.86,0,0,1,0,169.09l33.89-8.64q4.05,32,34.47,32,13.91,0,22.16-4.46t8.25-12.54q0-6.62-6.37-9.93t-26.65-9.08q-5.5-1.44-8.4-2.3-26.65-7.48-39.1-17.71T5.79,109.18q0-19,15.5-32.84T63.72,62.51q51.55,0,64.59,44.93L97,116.95Q93,106,85.59,99.67T64,93.33q-11,0-17.53,4.18T40,107.45M196.41,67.06H158.49V220.79h37.92V67.06Zm5-42.89a24,24,0,1,0-48,0c0,12.81,10.84,23.58,24,23.58a23.8,23.8,0,0,0,24-23.58m108,79.44,5.83-36.54a35,35,0,0,0-14-2.9,35.62,35.62,0,0,0-18.82,5.22,33.88,33.88,0,0,0-13,13.92h-0.58V67.06H233.06V220.79H271v-84.4q0-35.09,26.54-35.1a35.42,35.42,0,0,1,12,2.32M617,143.16c0-23.87-18.89-43.27-42.11-43.27s-42.12,19.41-42.12,43.27,18.89,43.27,42.12,43.27S617,167,617,143.16m39.92,0c0,44.47-36.79,80.65-82,80.65s-82-36.18-82-80.65,36.8-80.66,82-80.66,82,36.18,82,80.66M835.1,143c0,47.56-29.83,80.81-75.15,80.81-14.9,0-32-1.86-49.56-17.77v72.07H672.32V67.06h38.06V83C724.16,66.89,744,62.49,760.23,62.51c42.92,0,74.87,34.08,74.87,80.49m-38.34.16c0-23.87-18.93-43.27-42.19-43.27s-42.2,19.41-42.2,43.27,18.93,43.27,42.2,43.27,42.19-19.42,42.19-43.27M463.62,190.79c-14.72,19.6-65.89,67.2-65.89,67.2s-51.68-47.69-66.14-67.37a80,80,0,0,1-15.84-47.49c0-44.45,36.78-80.61,82-80.61s82,36.16,82,80.61c0,18.13-5.56,33.66-16.09,47.67m-22.2-47.94c0-23.68-19.6-43-43.69-43S354,119.16,354,142.84a43.53,43.53,0,0,0,7.54,25.31c7.33,10.76,36.15,40.35,36.15,40.35s29.71-28.93,36.53-40.07a45.65,45.65,0,0,0,7.16-25.59m-19.68,1.25a24,24,0,1,0-48,0c0,12.81,10.83,23.59,24,23.59a23.81,23.81,0,0,0,24-23.59"></path>
        </svg>
        </a>
      </div>
    </div>
  </div>
</footer>

