{% assign mates = site.mates | where:"title", page.mate %}
{% assign author = mates | first %}

{% if author %}
  <div class="Author-profile">
    <div class="Card-meta">
      <div class="Card-meta__avatar">
        <a href="{{ author.url | prepend:site.baseurl }}">
          <img class="Avatar Avatar--small" src="{{ author.avatar-image  | prepend:site.baseurl }}" alt="">
        </a>
      </div>
      <div class="Card-meta__info">
        <span class="body2"><a href="{{ author.url | prepend:site.baseurl }}">{{ author.title }}</a></span>
      </div>
    </div>
  </div>
{% endif %}


