<div class="prev-next grid clearfix">
    {% if page.previous %}
    <a
      class="prev btn"
      href="{{ page.previous.url | prepend: site.baseurl }}"
      rel="prev">
        {% if include.title %}
        {{ page.previous.title }}
        {% else %}
          älter
        {% endif %}
    </a>
    {% endif %}

    {% if page.next %}
    <a
      class="next btn"
      href="{{ page.next.url | prepend: site.baseurl }}"
      rel="next">
      {% if include.title %}
        {{ page.next.title }}
      {% else%}
        neuer
      {% endif %}
    </a>
    {% endif %}
</div>
