{% assign tags = include.tags %}
{% assign icon = include.icon %}

<div class="tag-list">

  {% if icon %}
    <span class="tag-icon">
      {% include icons/tag.svg %}
    </span>
  {% endif %}

  {% for tag in tags %}
    <span class="tag badge">{{ tag }}</span>
  {% endfor %}

</div>
