{% assign tags = page.tags %}

<h4 class="caption">tags</h4>

{% if tags.size > 0 %}
  <ul class="list-inline tag-list">
    {% for tag in tags %}
      <li class="tag badge">
        {{ tag }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
