{% assign tags = include.tags %}
{% assign icon = include.icon %}

<h4 class="caption">{{ include.title }}</h4>

{% if tags.size > 0 %}
  <ul class="tag-list">
    {% for tag in tags %}
      <li class="tag badge">
      <span class="icon icon_tag"></span>
        {{ tag }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
