{% assign list = include.list %}

<section class="section">
  <div class="container">
    <div class="row topics-list">
      {% for item in list %}
        <div class="topics-list__item col col-xs-3">
          <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
