<section class="section">
  <div class="container">
    {% if include.title %}
    <header class="title--on-line__wrapper">
      <h2 class="title title--on-line">{{ include.title }}</h2>
    </header>
    {% endif %}
    {% assign list = include.list %}
    <div class="topics-list">
      {% for item in list %}
        <div class="topics-list__item">
          <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
