{% capture html %}
{% assign topics = site.topics | where:"title", page.topic %}

{% for topic in topics %}
  {% unless topic.title == page.title %}
    <a class="link" href="{{ topic.url | prepend:site.baseurl }}">{{ topic.title }}</a>
  {% endunless %}
{% endfor %}

{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ','' }}
