blockquote, pre,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    background: #F0F0F0;
    font-weight: $base-font-weight;
    font-size: 16px;
    line-height: 20px;
    font-family: $base-font-family;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @media screen and (min-width: 960px) {
      font-size: 15px;
    }
}
.body2 {
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
}

