.spaced {
  margin-bottom: 30px;
}

.container,
.page-width{
  max-width: 1170px;
  margin:0 auto;
  width: 90%;
}

.ratio{
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 0;
  &--16x9{
    padding-top: calc(100% * 9 / 16);
  }
  &--flex {
    padding-top: 33%;
    @media screen and ( max-width: 640px ){
      padding-top: 50%;
    }
    @media screen and ( max-width: 480px ){
      padding-top: 100%;
    }
  }
  &-content{
    display:block;
    position: absolute;
    top:0;
    width: 100%;
    height: auto;
  }
}


.cover{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-footer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.grid-split {
  display: flex;
  min-height: 500px;
  &__image {
    background-size: cover;
    flex: 1;
  }
  &__golden {
    flex: $golden-ratio;
    padding: 0 32px;
  }
}

.link,
.read-more-link {
  color: $link-color;
  font-weight: 500;
  display:inline-block;
}
.read-more-link::after {
    content: " \276F";
}


button:not([type]):after {
    content: 'Is this a submit button, a reset button or what? Use type="submit", type="reset" or type="button"';
}

.prev {
  float:left;
  &::before {
    display: inline-block;
    content: "\276E";
    margin-right: 12px;
  }
}
.next {
  float: right;
  &::after {
    display: inline-block;
    content: "\276F";
    margin-left: 12px;
  }
}

.content--secondary{
  background: #F1F5F7;
}

.band{
  padding-top: 24px;
  padding-bottom: 24px;
}


.preloader {
  border: 5px solid white;
  border-radius: 30px;
  height: 30px;
  left: 50%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 30px;
  transform: translate3d(-50%, -50%, 0);
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
}


.grid-cta{
  padding-top: 24px;
}

.text-center {
  text-align: center;
}

.page-footer{
  padding:24px 0;
  background-color:#2E2E2E;
  color: $text-white;
}

.c-logo-brand{
  display:inline-block;
}

.mates-teaser {
  position: relative;
}
.floating-profiles {
  position: absolute;
  top: 30px;
  left: 100%;
  margin-left: 30px;
  padding:0;
  &__item{
    position: absolute;
    left:0;
    top:0;
    &--2{
      transform: translate3d(calc(100% + 24px),0px,0px);
      opacity: 0.9;
    }
    &--3{
      transform: translate3d(calc(2 * calc(100% + 24px)),0px,0px);
      opacity: 0.8;
    }
    &--4{
      transform: translate3d(calc(3 * calc(100% + 24px)),0px,0px);
      opacity: 0.7;
    }
  }
}

.tag-icon{
  float: left;
  position: relative;
  bottom: 2px;
}
.tag{
  margin-right: 8px;
  margin-bottom: 8px;
}

.badge {
  display: inline-block;
  background: rgba(0,0,0,.05);
  color: rgba(0,0,0,0.6);
  border-radius: 2px;
  padding: 4px 8px;
}
.navigation-holder{
  display:flex;
}
.navigation {
  position: relative;
  display: flex;
  padding: 42px 0;
  align-items: center;
  justify-content: space-between;
  // * {
  //   outline: 1px solid blue;
  // }
}
.navigation__checkbox{
  visibility: hidden;
  height:0;
  width: 0;
  overflow: hidden;
  display:none;
}
.navigation__trigger{
  color: #2E2E2E;
  border-radius: 50%;
  border: solid 2px currentColor;
  display:flex;
  height:48px;
  width: 48px;
  padding:8px 12px;
  align-items: center;
  justify-content: center;
  span {
    display: block;
    position: relative;
    flex: 1;
    width: 100%;
    color: inherit;
    background-color: currentColor;
    height: 2px;
    transform: translate3d(0px,0px,0px);
    &::before,
    &::after{
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: currentColor;
    }
    &::before{
      transform: translate3d(0px,-6px,0px);
    }
    &::after{
      transform: translate3d(0px,4px,0px);
    }
  }
}

.main-nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  &__item {
    display:inline-block;
  }
  &__link {
    display: block;
    padding: 13px 16px;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: uppercase;
    position: relative;
    color: #2e2e2e;
    &:hover{
      text-decoration: none;
    }
    &--active {

      &::after{
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        top: 32px;
        left: 16px;
        background-color: currentColor;
      }
    }
  }
}
