.title {
    margin-top: 0;
    font-family: $heading-font-family;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -.025em;
}
.title--separator{
  margin-bottom: .4em;
}
.title--separator:after {
    content: "\2014";
    display: block;
}

.title--h3{
  display:block;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
