// Our variables
$base-font-family: "Open Sans", sans-serif;
$heading-font-family: "Baloo Paaji", cursive;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: $base-font-size * $base-line-height;
$line: $spacing-unit;

// colors
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #E04544;

$link-color: $brand-color;

// Width of the content area
$content-width:    90em;
$on-palm:          600px;
$on-laptop:        800px;
