body {
  font-family: $base-font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: $base-font-weight;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.body2 {
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
}

.grid-footer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}


.grid__item--3-13 {
  width: calc(99.9% * 3/13 - (30px - 30px * 3/13));
  margin-right: 30px;
}
.grid__item--5-13{
  width: calc(99.9% * 5/13 - (30px - 30px * 5/13));
  margin-right: 30px;
}

.link,
.read-more-link {
  color: $link-color;
  font-weight: 500;
  display:inline-block;
}
.read-more-link::after {
    content: " \276F";
}


button:not([type]):after {
    content: 'Is this a submit button, a reset button or what? Use type="submit", type="reset" or type="button"';
}

.prev {
  float:left;
  &::before {
    display: inline-block;
    content: "\276E";
    margin-right: 12px;
  }
}
.next {
  float: right;
  &::after {
    display: inline-block;
    content: "\276F";
    margin-left: 12px;
  }
}
.text-center {
  text-align: center;
}

.mates-teaser {
  position: relative;
}
.floating-profiles {

  @media screen only and (min-width: 800px){
    display: block;
  }
  position: absolute;
  top: 30px;
  left: 100%;
  margin-left: 30px;
  padding:0;
  &__item{
    position: absolute;
    left:0;
    top:0;
    &--2{
      transform: translate3d(calc(100% + 24px),0px,0px);
      opacity: 0.9;
    }
    &--3{
      transform: translate3d(calc(2 * calc(100% + 24px)),0px,0px);
      opacity: 0.8;
    }
    &--4{
      transform: translate3d(calc(3 * calc(100% + 24px)),0px,0px);
      opacity: 0.7;
    }
  }
}



.tag-list{
  display: flex;
}
.tag-icon{
  float: left;
  position: relative;
  bottom: 2px;
}
.tag{
  margin-right: 1px;
  margin-bottom: 1px;
}



.mate-image{
  box-shadow: -20px 25px 50px 0 rgba(0,0,0,.2);
}


.logotype {
  display: inline-block;
  color: #2E2E2E;
  position: relative;
  font-family: "Montez";
  white-space: nowrap;
  font-size: 30px;
  line-height: 1;
  &:hover{
    text-decoration: none;
  }
}

svg.logo{
  width: 50px;
  g {
    fill: #2E2E2E;
  }
}
