$base-font-family: "Roboto", sans-serif;
$heading-font-family: "Roboto", sans-serif;
$content-font-family: "Mate", sans-serif;
$base-font-size:   1em;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: $base-font-size * $base-line-height;
$line: $spacing-unit;


$text-color: #58595b;
$brand-color: rgba(0, 105,128,1);
$brand-black: #2e2e2e; // rgba(10,10,25, 1);

$link-color: #D96A58;
$link-color--hover: darken($brand-color,5%);

$color-sun: #fff971;

$golden-ratio: 1.61803398875;
$text-white: darken(white, 13%);

$flashy: cubic-bezier(.25,.8,.25,1);

$radius: 2px;

$page-background: #f5f6f7;

$page-max-width: 75em;

$gutter: 30px;
