.prev-next {
  @include flink-center(700px);
  display: block;
  display: flex;
}
.prev,
.next{
  width: 50%;
  flex: 1 0 auto;
}
.prev {
  float:left;
  &::before {
    display: inline-block;
    content: "\276E";
    margin-right: 12px;
  }
}
.next {
  float: right;
  &::after {
    display: inline-block;
    content: "\276F";
    margin-left: 12px;
  }
}
