$card-radius: $radius;
$card-spacing: $spacing-unit;

.Card {
  width: 100%;
  flex: 1 0 auto;
  display: block;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background: white;
  box-shadow: 0 14px 42px 0 rgba(0,0,0,.2);
}

.Card__header {
  position: relative;
  background-color: lightgray; // preloading color
}

.Card__info {
  padding: 16px;
  flex: 0 0 auto;
}

.Card__actions{
  padding: calc($card-spacing / 4) $card-spacing;
}
