.caption {
  font-size: 11px;
  color: inherit;
  letter-spacing: 0;
  line-height: 20px;
  font-style: normal;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 8px;
}
