.caption {
  display: inline-block;
  margin: 0;
  font-size: 13px;
  color: inherit;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
}
