$card-radius: $radius;
$card-spacing: $spacing-unit;

.Card {
  width: 100%;
  flex: 1 0 auto;
  display: block;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
  &--small {
    flex-direction: row;
  }
}

.Card__media {
  position: relative;
  background-color: #2E2E2E; // preloading color
  flex: 0 0 auto;
  .Card--small & {
    width: 34%;
  }
}

.Card__title {
  @include multiline-truncation($lineHeight: 29px, $lineCount: 2);
  color: #2e2e2e;
}

.Card__over{
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 30px;
  background: red;
  height: 100%;
}

.Card__info {
  flex: 1 1 auto;
  padding: $gutter/2;
  @media screen and ( min-width: 800px ) {
    padding: $gutter;
  }
}
.Card__excerpt {
  @include multiline-truncation($lineHeight: 1.5, $lineCount: 3);
  font-size: 14px;
}
