.gem-preview {
  position: relative;
  background-size: cover;
  color: white;
  min-height: 50vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(white, 1);
  background-blend-mode: multiply;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  @media screen and ( min-width: 800px ){
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: $brand-color;
      background: rgba($brand-color, 0.15);
      opacity: 0;
      transition: opacity 2s $flashy;
    }
    &:hover::before{
      opacity: 1;
    }
  }
}
.gem__content {
  padding: 5%;
  text-align: center;
  z-index: 1;
}
.gem__title {
  color: white;
  font-size: 42px;
  line-height: 1.1;
  letter-spacing: -0.05em;
  margin-bottom: 0.5em;
}

.gem__meta{
  color:white;
  margin-bottom: 8px;
}

.gem__link{
  color:white;
  &:hover{
    text-decoration: underline;
  }
}
