.page {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: $text-color;
  background: $page-background;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  overflow-x: hidden;
}

.page__header,
.page__content,
.page__footer {
  display: block;
}
.page__header {
  background-color: $color-sun;
  margin-top: -$gutter;
  margin-bottom: 25px;
  padding: $gutter * 2 0 40px;
  .page--mate &,
  .page--mates & {
    background-color: $color-fire;
  }
  .page--post &,
  .page--blog & {
    background-color: $color-sky;
  }
}
.page__content{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page__footer {
  padding:24px 0;

}

.skew{
  transform: skewY(-2deg);

}
.unskew{
  transform: skewY(2deg);
}
