.post {
  &__header,
  &__meta{
    margin-bottom: $gutter/2;
    @media screen and ( min-width: 600px ) {
      @include flink-center(720px);
      margin-bottom: $gutter;
    }
  }
  &__header{
    h1,
    h2{
      font-size: 30px;
    }
  }
  &__banner{
    margin-bottom: $gutter;

    &::after{
      content: "";
      position: absolute;
      left: 0;
      top: -25px;
      width: 100%;
      background: $page-background;
      height: 50px;
      transform: skewY(-2deg);

    }
  }
}
