.page__nav {
  display: flex;
}

.nav-bar {
  display: flex;
  position: relative;
  padding: 16px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.nav-primary {
  align-self: stretch;
  width: 100%;
  @media screen and ( min-width: 800px ){
    align-self: auto;
    width: auto;
  }
}

input.nav-primary__checkbox{
  display:none;
  height:0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
}

label.nav-primary__trigger{
  cursor: pointer;
  color: #2E2E2E;
  border-radius: 50%;
  border: solid 2px currentColor;
  display:flex;
  height:48px;
  width: 48px;
  padding:8px 12px;
  align-items: center;
  justify-content: center;
  @media screen and ( min-width: 800px) {
    display: none;
  }
  span {
    display: block;
    position: relative;
    flex: 1;
    width: 100%;
    color: inherit;
    background-color: currentColor;
    height: 2px;
    transform: translate3d(0px,0px,0px);
    &::before,
    &::after{
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: currentColor;
    }
    &::before{
      transform: translate3d(0px,-6px,0px);
    }
    &::after{
      transform: translate3d(0px,4px,0px);
    }
  }
}
input.nav-primary__checkbox:checked ~ .nav-primary-list {
  display: block;
}

.nav-primary-list {
  display: none;
  overflow: hidden;
  width: 100%;
  list-style: none;
  @media screen and ( min-width: 800px){
    width: auto;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__item {
    display: block;
    text-align: center;
    @media screen and ( min-width: 800px){
      margin-left: $gutter / 2;
    }
  }
  &__btn{
    display: block;
    width: 100%;
  }
  &__link {
    display: block;
    padding: 13px 16px;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: uppercase;
    position: relative;
    color: #2e2e2e;
    &:hover{
      text-decoration: none;
    }
    &--active {
      &::after{
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        top: 32px;
        left: 50%;
        transform: translate3d(-50%,0,0);
        background-color: currentColor;
        @media only screen and ( min-width: 800px ) {
          left: 0;
          transform: translate3d(16px,0,0);
        }
      }
    }
  }
}
