.Avatar {
  position: relative;
  display: inline-block;
  background-size: cover;
  border-radius: 50%;
  background-color: white;
  width: 100%;
  &--small {
    width: 32px;
    height: 32px;
    @media screen and ( min-width: 800px ) {
      width: 48px;
      height: 48px;
    }
  }
  &--medium {
    width: 72px;
    height: 72px;
  }
  &--big {
    width: 96px;
    height: 96px;
  }
  &--huge {
    max-width: 144px;
    max-height: 144px;
  }
}
