.page {
  height: 100%;
  display: flex; // [1]
  color: $text-color;
  background: $page-background;
  flex-direction: column; // [1]
  min-width: 320px;
  overflow-x: hidden;
}

.page__header,
.page__content,
.page__footer {
  display: block;
}
.page__content{
  flex: 1; // [1]
}

.page__footer {
  padding:24px 0;
  background-color:#2E2E2E;
  color: $text-white;
}

/*
[1] : sticky footer with flexbox
*/
