$card-radius: $radius;
$card-spacing: $spacing-unit;

.Card {
  width: 100%;
  flex: 1 0 auto;
  display: block;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background: white;
}

.Card__header {
  position: relative;
  background-color: #2E2E2E; // preloading color
}

.Card__info {
  padding: 24px;
  flex: 0 0 auto;
}

.Card__actions{
  padding: calc($card-spacing / 4) $card-spacing;
}
