.btn {
  display: inline-block;
  vertical-align: middle;
  background: white;
  color: #2E2E2E;
  padding: 13px 16px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  line-height: 1;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  outline: none;
  min-width: 64px;
  transition: all 0.2s $flashy;
  &:hover,
  &:active{
    color: white;
    background-color: #2E2E2E;
    transition-delay: 0s;
    text-decoration: none;
  }
}
