.Card-meta {
  display: table;
  display: flex;
  margin-bottom: 16px;
  &__avatar {
    display: table-cell;
    line-height: 1;
  }
  &__info {
    display: table-cell;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 14px;
    padding-left: 12px;
  }
}
