.btn {
  display: inline-block;
  min-width: 64px;
  padding: 13px 16px;
  vertical-align: middle;
  color: #2E2E2E;
  text-align: center;
  font-size: 13px;
  line-height: 1;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  outline: none;
  transition: all 0.2s $flashy;
  cursor: pointer;
  background: white;
  border-width: 2px;
  border-style: solid;
  border-color: $color-white;
  &:hover,
  &:active{
    color: white;
    background-color: $brand-black;
    border-color: $brand-black;
    transition-delay: 0s;
    text-decoration: none;
  }
}
