.Avatar {
  position: relative;
  display: inline-block;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid white;
  background-color: white;

  width: 72px;
  height: 72px;
  &--small {
    width: 32px;
    height: 32px;
    @media screen and ( min-width: 800px ) {
      width: 48px;
      height: 48px;
    }
  }
  &--big {
    width: 96px;
    height: 96px;
  }
  &--huge {
    width: 144px;
    height: 144px;
  }
}
