---
layout: default
---

<div class="page-width">
  <h1 class="title title--separator title--h1">
    {{ page.title }}
  </h1>
<nav>
{% for category in site.categories  %}
  <a href="{{ category.url | prepend: site.base_url }}">{{ category.title }}</a>
{% endfor %}
</nav>

</div>
