---
layout: default
---

<div class="page-width">
  <h1 class="title title--separator title--h1">
    {{ page.title }}
  </h1>
<nav>
{% for page in site.topics  %}
  <a href="{{ page.url | prepend: site.base_url }}">{{ page.title }}</a>
{% endfor %}
</nav>


{% for page in site.posts %}
  {% include post.liquid %}
{% endfor %}

</div>
