---
layout: default
---

<section class="section">
  <div class="container">
    {% include filter.liquid %}
    {% if page.collection == "topics" %}
      {% assign pages = site.posts | where: "topic", page.title %}
    {% else %}
      {% assign pages = site.posts %}
    {% endif %}

    <ul class="list-inline grid grid--flex grid--waffle">
      {% for page in pages %}
        <li class="grid__item grid__item--1-3">
          {% include card.liquid %}
        </li>
      {% endfor %}
    </ul>

  </div>
</section>
