---
layout: default
---
<section class="section">
  <div class="container">

    <h1 class="title title--separator">
      {{ page.title }}
    </h1>

    {% include filter.liquid %}

    {% case page.layout %}
      {% when "blog" %}
        {% assign pages = site.posts %}
      {% when "topic" %}
        {% assign pages = site.posts | where: "topic", page.title %}
    {% endcase %}

    <ul class="list-inline grid grid--flex grid--waffle">
      {% for page in pages %}
        <li class="grid__item grid__item--1-3">
          {% include card.liquid %}
        </li>
      {% endfor %}
    </ul>

  </div>
</section>
