<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <section class="brand-blue">
    <div class="site-nav-bar">
      <a class="site-logotype" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <nav class="site-nav">
        <a class="site-nav-link" href="mates.html">Mates</a>
        <a class="site-nav-link" href="stories.html">Stories</a>
      </nav>
    </div>
  </section>

    <div class="page">
      <main>
          {{ content }}
      </main>
    </div>

    {% include footer.html %}

  </body>

</html>
