<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <section class="brand-blue">
    <div class="site-nav-bar">
      <!--{{ site.title }}-->
      <a class="site-logotype" href="{{ site.baseurl }}/">
        <img class="site-logotype-img" src="{{ site.baseurl }}/assets/jigglypuff.svg" alt="">
        shopping mates
      </a>
      <nav class="site-nav">
        <a class="site-nav-link" href="{{ site.baseurl }}/mates">Mates</a>
      </nav>
    </div>
  </section>

    <div class="page">
      <main>
        {{ content }}
      </main>
    </div>

    {% include footer.html %}

  </body>

</html>
