<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <section class="brand-blue">
    <div class="site-nav-bar">
      <!--{{ site.title }}-->
      <a class="site-logotype" href="/">
        <span class="logo-circle"></span>
        <span class="logo-circle"></span>
        <span class="logo-circle"></span>
        <span class="logo-text">shopping mates</span>
      </a>
      <nav class="site-nav">
        <a class="site-nav-link" href="{{ site.baseurl }}/mates">Mates</a>
        <a class="site-nav-link" href="{{ site.baseurl }}/stories">Stories</a>
      </nav>
    </div>
  </section>

    <div class="page">
      <main>
          {{ content }}
      </main>
    </div>

    {% include footer.html %}

  </body>

</html>
