---
layout: default
---
{% comment %}{% include flip-flop.liquid %}{% endcomment %}
{% include gem.liquid %}
<section class="section">
  <div class="container">
    <div class="grid grid--flex grid--waffle">
      {% for page in site.posts offset:1 limit:3 %}
        <div class="grid__item grid__item--1-3">
          {% include card.liquid  %}
        </div>
      {% endfor %}
    </div>
  </div>
  <footer class="section__footer text-center">
    <a href="{{ site.baseurl }}/topics/" class="btn">Alle Artikel ansehen</a>
  </footer>
</section>
{% include mates-section.liquid title="Mates" list=site.mates %}
{% include topics-section.liquid list=site.topics %}
