---
layout: default
---
<section class="section section--mates-list">
  <div class="container">

  <div class="section-categories">
    <h1 class="title title--separator">
      Die Shopping Mates
    </h1>
  </div>

  <ul class="section-posts grid grid--waffle">
    {% assign mates = site.mates | sort: 'position' %}
    {% for mate in mates limit:1 %}
    <li class="grid__item grid__item--1-3">
      {% include card-mate.liquid card=mate %}
    </li>
    {% endfor %}
  </ul>
  </div>

</section>
