---
layout: default
---
<section class="section">
  <div class="container">

    <h1 class="title title--separator">
      {{ page.title }}
    </h1>

    {% include filter.liquid %}

    {% assign topics = site.posts | where: "topic", page.title %}

    <div class="grid grid--waffle">
      {% for page in topics %}
        <div class="grid__item grid__item--1-3">
          {% include card.liquid  %}
        </div>
      {% endfor %}
    </div>

  </div>
</section>
