.article-content {
    position: relative;
    font-size: 15px;
    line-height: 1.4;
    > :last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: 800px) {
      font-size: 20px;
      line-height: 1.6;
    }
    padding-bottom: 30px;
    font-family: $content-font-family;
    color: #212020;
    a{
      @extend .link;
    }
    b,strong {
      font-weight: normal;
      font-style: italic;
    }
    i,em {
      font-style: italic;
    }
    > figure {
      margin-bottom: 30px;

      img {
        display:block;
        max-width: 100%;
        margin: 0 auto 15px;
      }
      figcaption{
        display: block;
        font-size: 0.75em;
        text-align: right;
        font-style: italic;
      }
    }
    > h1,h2,h3,h4,h5,h6,
    ul,ol,dl,blockquote,p {
      margin-bottom: $gutter;
    }
    > h1,h2{
      margin-top: $gutter  * 2;
    }
    > h1,h2,h3 {
      color: $brand-black;
      font-family: $heading-font-family;
      line-height: 1.1;
      font-weight: 700;
    }
    ul,ol {
      padding-left: $gutter;
      li{
        margin-bottom: $gutter / 5;
      }
    }
    blockquote {
      border-top: solid 2px $color-sky;
      border-bottom: solid 2px $color-sky;
      padding: $gutter;
      font-size: 1.3em;
      line-height: 1.3;
      text-align: center;
      font-style: italic;
      color: #89BFC4;
      > :last-child {
          margin-bottom: 0;
      }
      > * {
        margin: 0;
      }
      > * + * {
        margin-top: 1.6rem;
      }
    }
}
