.article-content {
    position: relative;
    font-size: 16px;
    padding-bottom: 30px;
    font-family: $content-font-family;
    color: #212020;
    b,strong {
      font-weight: bold;
    }
    i,em {
      font-style: italic;
    }

    > figure {
      padding: 16px;
      background: white;
      border-radius: 5px;
      margin-bottom: 30px;
      box-shadow: 0 14px 42px 0 rgba(0,0,0,.2);
      img {
        display:inline-block;
        width: 100%;
        max-width: 100%;
        margin: 0 auto 15px;
      }
      figcaption{
        display: block;
        text-align: center;
      }

    }
    > h1,h2,h3,h4,h5,h6,
    ul,ol,dl,blockquote,p {
      margin: 0 auto 30px;
      max-width: 700px;
    }
    > h1,h2{
      margin-top: 60px;
    }
    > h1,h2,h3 {
      color: $link-color;
      font-family: $heading-font-family;
      line-height: 1.1;
      font-weight: 700;
    }
    ul,ol {
      padding-left: 30px;
      li{
        margin-bottom: 5px;
      }
    }
    blockquote {
      border-top: solid 2px #e6e6e6;
      border-bottom: solid 2px #e6e6e6;
      padding-left: 16px;
      padding: 0 12px;
      @media screen and (min-width: 480px){
        padding:0 60px;
      }
      font-size: 24px;
      line-height: 1.6;
      text-align: center;
      letter-spacing: -1px;
      font-style: italic;
      color: $brand-color;
      > :last-child {
          margin-bottom: 0;
      }
      > * {
        margin: 0;
      }
      > * + * {
        margin-top: 1.6rem;
      }
    }
}
